doctype html
html(lang="en")
    head
        meta(charset="UTF-8" bg-gray-50)
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title .: Bienes Raices :. - 240853 |
        link(rel="stylesheet", href="/css/style.css")

    body.min-h-screen.bg-gray-50.flex.flex-col
        main(class="mx-auto container mt-10 px-2 flex-grow")
            block contenido

        footer.bg-gray-800.text-white.text-center.py-4.mt-10
            p &copy; 2024 Bienes Raices. Todos los derechos reservados.